[submodule "CORLA18"]
	path = CORLA18
	url = https://github.com/ElectionAuditWare/CORLA18
[submodule "2018-bctool"]
	path = 2018-bctool
	url = https://github.com/ElectionAuditWare/2018-bctool
	branch = website
[submodule "OpenRLA"]
	path = OpenRLA
	url = https://github.com/ElectionAuditWare/OpenRLA
