atomicwrites==1.2.1
attrs==18.2.0
Click==7.0
cryptorandom==0.2
cycler==0.10.0
Flask==1.0.2
hypothesis==3.86.4
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
more-itertools==5.0.0
numpy==1.15.4
pkg-resources==0.0.0
pluggy==0.8.0
py==1.7.0
pyparsing==2.3.0
pytest==4.0.2
python-dateutil==2.7.5
scipy==1.2.0
six==1.12.0
Werkzeug==0.14.1
