/* palette comes from:
https://civicdesign.org/wp-content/uploads/2016/02/CCD-Elections-Color-Palette-20160331.pdf */

body {
   background: #fff;
   font-family: helvetica, arial, sans-serif;
   font-size: 1.1em;
}

.ballot.inProgress {
   background: #f5decb;
}

/* maybe need to change this: blue meaning democrat?(?) */
.ballot.complete {
   background: #cfe5f4;
}

.numberLabel {
   border-radius: 0.2em;
   padding: 0.2em 1em;
}

.inProgress > .numberLabel {
   font-size: 1.5em;
   color: white;
   background: #d87d2e;
}

.complete > .numberLabel {
   font-size: .9em;
   color: white;
   background: #3f98d3;
}

.ballot {
}

.innerForm {
   padding: .5em;
}

.raceDiv {
   padding: 1em;
}

.choiceCheckbox:checked + .choiceCheckboxLabel {
   background: #cfe5f4;
}

/* todo: some common class betw this and 'ballot': */
#seedContainer, #contestNameContainer, #contestTypeContainer, #finalResultContainer, #csvUploadContainer {
}

.container {
   width: 80%;
   margin: auto;
   /* padding: 1em 2em; */
   padding: 0.5em 1.5em;
   border-radius: 1em;
   margin-bottom: .5em;
   background: #f5decb;
}

/* again, dedupe (or maybe it should be a different color?): */
/* #seedContainer.complete, #contestNameContainer.complete, #contestTypeContainer.complete, #csvUploadContainer.complete { */
.container.complete {
   background: #cfe5f4;
}

#listOfBallotsToPull {

   background: #f5decb;
}
/* Error box made with modal bootstrap */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */ 
   z-index: 1; /* Sit on top */
   padding-top: 100px; /* Full width */
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto; /* Enable scrolling if needed */
   background-color: rgb(0, 0, 0); /* Fallback color */
   background-color: rgba(0, 0, 0, 0.4); /* Black with opacity for background */
}

/* Modal box contents and properties */
.modal-content {
   position: relative;
   background-color: #fefefe;
   margin: auto;
   padding: 0;
   border: 1px solid #888;
   width: 500px;
   max-width: 100%;
   height: 300px;
   max-height: 100%;
   text-align: center;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   -webkit-animation-name: animatetop;
   -webkit-animation-duration: 0.4s;
   animation-name: animatetop;
   animation-duration: 0.4s;
}

/* Add slide down animation for error box */
@webkit-keyframes animatetop {
   from {
      top: -300px;
      opacity: 0;
   }
   to {
      top: 0;
      opacity: 1;
   }
}

@keyframes animatetop {
   from {
      top: -300px;
      opacity: 0;
   }
   to {
      top: 0;
      opacity: 1;
   }
}

/* Close button for modal error box */
.close {
   color: white;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
}

/* header attributes for header, body and footer */
.modal-header {
   padding: 2px 16px;
   background-color: #eb574c;
   color: white;
}

.modal-body {
   padding: 2px 16px;
}

/* Footer is not currently being used for the error box */
.modal-footer {
   padding: 2px 16px;
   background-color: #5cb85c;
   color: white;
}


